<ul>
  <% for category in @categories %>
    <div class="category-wrapper">
      <a href="/kategorier/<%= category.name %>" alt="<%= category.name %>" class="js-mxp" data-mxptype="Category" data-mxptext="<%= category.name %>">
        <img src="<%= category.picture %>" alt="<%= category.name %>" data-title="" title="">
      </a>
  <% end %>
</ul>