<img src=<%= @profile.picture %> alt="<%= @profile.id %>.jpg">

<h1><%= "#{@profile.firstname} #{@profile.lastname}" %></h1>

<h3><%= @profile.username %></h3>

<br><br><br>

<p><%= @profile.description %></p>

<a href="edit"><h1>Uppdatera informationen</h1></a>
